<!DOCTYPE html>
<html>
  <head>
    <title>Survey Designer</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <br>

    <hr>

    <br>
    
    <div>
      <p>Navigation Options</p>

      <ul>
        <li><a href="/">Main Page</a></li>
      </ul>

    </div>

  </body>
</html>
